$sub-color: #D1D1D1;
$main-color: white;
$border-color: #797979;
$border-color-error: red;

@mixin shrinkLabel {
  top: -14px;
  font-size: 12px;
  color: $sub-color;
}

.mealForm {
  padding: 0 40px;
}

.groups {
  display: flex;
  gap: 20px;

  .group {
    flex: 1;
    margin-bottom: 0;
  }
}

.group {
  position: relative;
  margin: 45px 0;
}

.actions {
  text-align: right;
}

.actions button {
  border: 0;
  padding: 0.75rem 3rem;
  background: linear-gradient(90deg, #f9572a, #ff9b05);
  border: none;
  color: #ffffff;
  border-radius: 2px;
  cursor: pointer;
  font: inherit;
  font-size: 1.25rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.actions button:hover,
.actions button:focus {
  background: linear-gradient(90deg, #fd4715, #f9b241);
}

.actions button:disabled,
.actions button:hover:disabled,
.actions button:focus:disabled {
  background: #ccc;
  color: #979797;
  cursor: not-allowed;
}