$sub-color: #D1D1D1;
$main-color: white;
$border-color: #797979;
$border-color-error: red;

@mixin shrinkLabel {
    top: -14px;
    font-size: 12px;
    color: $sub-color;
}

.sign-in {
    display: block;

    .group {
        position: relative;
        margin: 45px 0;
    }


    .actions {
        text-align: right;
        display: flex;
        gap: 20px;
        justify-content: space-between;

        button {
            border: 0;
            padding: 0.75rem 2rem;
            border: none;
            color: #ffffff;
            border-radius: 2px;
            cursor: pointer;
            font: inherit;
            font-size: 1.25rem;
            background: linear-gradient(90deg, #f9572a, #f3d3a0);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

            &:hover,
            &:focus {
                background: linear-gradient(90deg, #952303, #f3d3a0);
            }

            &.google {
                background: linear-gradient(90deg, #0460f3, #f3d3a0);

                &:hover,
                &:focus {
                    background: linear-gradient(90deg, #022f76, #f3d3a0);
                }
            }


        }
    }

}