.auth-page {
    .auth-container {
        color: white;
        padding: 40px 40px;
        display: flex;
        gap: 100px;
        justify-content: center;
        width: 1000px;
        margin: auto;
    }
}