.latest-recipes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 20px;
  row-gap: 30px;
  padding: 20px;
}

.recipe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  color: #ddd6cb;
  background: linear-gradient(90deg, #2c1e19, #25200f);

  .image {
    position: relative;
    height: 300px;
  }

  .image img {
    object-fit: cover;
  }

  .summary {
    display: block;

    h2,
    p {
      margin: 0;
    }

    h2 {
      margin: 0;
      font-size: 1.5rem;
      font-family: 'Montserrat', sans-serif;
    }

    h3 {
      a {
        color: white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    p {
      font-size: 0.75rem;
      color: #cfa69b;
      font-style: italic;
    }

  }

}