.model {
    width: 700px;
    height: 600px;
    z-index: 999;
    border: 1px solid #A1A1A1;
}

.model-backdrop{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
    z-index: 99;

}